@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn {
  padding: 14px 32px;
  background-color: #93783C;
  border: none;
  border-radius: 8px;
  font-size: 22px;
  cursor: pointer;
  margin-top: 10px;
  width: auto;       
  display: block;   
  align-items: center; 
  color: #E2D7D7;
  font-family: serif;
  font-weight: bold;

}


.btn:hover {
  background-color: #b8975a;
  transform: translateY(-2px);
}

/* Inputs */
.form input {
  width: 320px;
  padding: 12px 16px;
  font-size: 18px;
  border-radius: 6px;
  border: 2px solid #b8975a;
  background: rgba(0, 0, 0, 0.4);
  color: #b8975a;
  margin-bottom: 20px;
  outline: none;
}

.form select {
  width: 320px;
  padding: 12px 16px;
  font-size: 23px;
  border-radius: 6px;
  border: 2px solid #b8975a;
  background: rgba(0, 0, 0, 0.4);
  background-color: #000000;
  color: #ffffff;
  margin-bottom: 20px;
  outline: none;
}

.form input::placeholder {
  color: #b8975a;
  opacity: 0.7;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: serif;

}









/*ERRORES*/
.input-error {
  border: 3px solid #cc0000 !important;
  background-color: rgba(50, 0, 0, 0.4);
}

.error-box {
  width: 100%;
  background: rgba(20, 20, 20, 0.8);
  border: 2px solid #666;
  padding: 14px;
  border-radius: 8px;
  border-color: gray-400;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  color: #d9534f;
  margin: 15px;
}

.error-icon {
  font-size: 26px;
  color: #d9534f; 
  margin-top: 2px;
}

.error-text {
  font-size: 15px;
  line-height: 1.3;
  color: #ccc;
}