/* Fondo general */
.crearhuesped-bg {
  min-height: 100vh;
  background-color: #000;
  background-image: url('/img/Fondo2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
}


/* Formulario */
form.formularioHuesped {
  padding: 50px;
  background: #000;
  border: 2px solid #b8975a;
  margin: 20px;
  border-radius: 15px;
}

.form-row {
  display: flex;
  gap: 18px;
  margin-bottom: 22px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 16px;
  color: #b8975a;
  margin-bottom: 6px;
  font-style: italic;
}

/* Inputs */
.form-group input,
.form-group select {
  background: #0d0d0d;
  border: 2px solid #b8975a;
  border-radius: 5px;
  padding: 10px 14px;
  color: #b8975a;
  font-size: 16px;
  font-family: "Georgia", serif;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: #d4b06a;
  background: #111;
  box-shadow: 0 0 10px rgba(185, 151, 90, 0.4);
}


.date-group {
  display: flex;
  gap: 10px;
}

.form-actions {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 35px;
}


.popup {
  position: fixed;          
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);    
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9998;
}

.popup-encabezado { /*Texto e Icono*/
  display: flex;
  align-items: center;      
  margin: 15px;                 
  margin-bottom: 20px;
}

.popup-botonera{
   display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
    width: 100%; 
}

.popup-boton {
  background-color: #545353;
  color: white;
  border: none;
  font-size: 16px;
  font-family: "Georgia", serif;
  font-weight: bold;
  cursor: pointer;
  min-width: 100px;
  width: auto;
  margin: 10px;
  padding: 12px;
}

.popup-boton:hover {
  background-color: #6D6A6A;
  transform: translateY(-2px);
}


.popup-contenido {
  position: relative;
  z-index: 9999;
  background: #2C2C2C;
  border: 5px solid #545353;
  border-radius: 10px;
  padding: 20px;
  max-width: 900px; 
  width: auto;
  height: auto;
  box-shadow: 0 0 30px rgba(185, 151, 90, 0.35); 
}

.popup-descripcion {
  position: relative;
  z-index: 9999;
  color: #ffffff;
  fontSize: '16px';
  lineHeight: '1.5';
  padding: 10px;
  margin-left: 10px;
  margin-right: 30px;
  left:30px;
}

.popup-descripcion h2{
  margin-bottom: 15px;
  font-size: 22px;
}

.popup-descripcion p{
  font-size: 18px;
}

.popup-icono{
  position: relative;;
  left: 12px;
  color: #F7FF07;
}
