/* Fondo general */
.crearhuesped-bg {
  min-height: 100vh;
  background-color: #000;
  background-image: url('/img/Fondo2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
}


/* Formulario */
form.formularioHuesped {
  padding: 50px;
  background: #000;
  border: 2px solid #b8975a;
  max-height: 1200px;
  margin: 20px;
  border-radius: 15px;
}

.form-row {
  display: flex;
  gap: 18px;
  margin-bottom: 22px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 16px;
  color: #b8975a;
  margin-bottom: 6px;
  font-style: italic;
}

/* Inputs */
.form-group input,
.form-group select {
  background: #0d0d0d;
  border: 2px solid #b8975a;
  border-radius: 5px;
  padding: 10px 14px;
  color: #b8975a;
  font-size: 16px;
  font-family: "Georgia", serif;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: #d4b06a;
  background: #111;
  box-shadow: 0 0 10px rgba(185, 151, 90, 0.4);
}

.date-group {
  display: flex;
  gap: 10px;
}

.form-actions {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 35px;
}