/* Fondo global */
.login-background {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  background-size: cover;
  background-position: center;  
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;    
  align-items: center;         
  position: relative;
  padding: 40px 0;
}




/* Contenedor general */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

/* Botón de volver */
.back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 32px;
  background: none;
  border: none;
  color: #b8975a;
  cursor: pointer;
  z-index: 999;
}


/* TARJETA */
.login-card {
  background: rgba(0, 0, 0, 0.85);
  padding: 40px 60px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 480px;
  max-width: 90%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}


/* Logo */
.login-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  gap: 10px;
}

.brand-title {
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 4px;
}



.password-wrapper {
  position: relative;
  width: 320px;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 9px;
  font-size: 20px;
  color: #b8975a;
}




