
.menu-bg {
  min-height: 100vh;
  background: black;
  background-image: url('/img/Fondo1.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  position: relative;
}


.menu-back {
  position: absolute;
  top: 25px;
  left: 25px;
  background: none;
  border: none;
  font-size: 32px;
  color: #b8975a;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.menu-back:hover {
  transform: scale(1.2);
}

.menu-container {
  text-align: center;
  color: #b8975a;
}

.menu-title {
  font-size: 48px;
  margin-bottom: 10px;
  font-weight: bold;
  letter-spacing: 4px;
}


.welcome {
  font-size: 20px;
  margin-bottom: 40px;
}


.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 260px);
  gap: 40px;
  justify-content: center;
}

.menu-grid .menu-card:last-child:nth-child(odd){
  grid-column: span 2;
  width: 50%;
  margin: 0 auto;
}


.menu-card {
  border: 3px solid #b8975a;
  padding: 25px;
  border-radius: 16px;
  text-align: center;

  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}


.menu-icon {
  transition: transform 0.3s ease;
  align-items: center; 
  justify-content: center;
  margin-left:60px
}

.menu-label {
  margin-top: 12px;
  font-size: 20px;
}

.menu-card:hover {
  box-shadow: 0 0 25px rgba(185,151,90,0.9), 0 0 45px rgba(185,151,90,0.25) inset;
  transform: scale(1.05);
}

.menu-card:hover .menu-icon {
  transform: scale(1.15);
}



@media (max-width: 650px) {
  .menu-grid {
    grid-template-columns: 1fr;
  }
}

.menu-corner-img {
  position: absolute;
  top: 20px;
  right: 20px;

  opacity: 0.45;         
  pointer-events: none;   
  user-select: none;
  
  z-index: 2;         
}
