<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Premier S.F. - Tu hogar lejos de casa</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <div class="container">
        <div class="social-icons">
            <a href="#" class="social-icon" aria-label="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="social-icon" aria-label="Twitter">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="social-icon" aria-label="Facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
        </div>

        <!-- Contenido principal -->
        <div class="content">
            <div class="left-section">
                <h1 class="tagline">"Tu hogar<br>lejos de casa"</h1>
                <form action="/login" method="get">
                    <button type="submit" class="btn-ingresar">Ingresar</button>
                </form>
            </div>

            <div class="right-section">
                <!-- Logo -->
                <div class="logo-container">
                    <img src="img/logo.png" alt="Hotel Premier Logo" class="logo-img">
                </div>

            </div>
        </div>
    </div>
</body>

</html>